<!doctype html>
<html>
<head>
    <title>Document</title>
    <!-- cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <script src="lessons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="app">
    <div v-if="showLessons">
        <div class="container">
            <div class="form-group">
                <label for="sort-sel">Sort By:</label>
                <select class="form-control" id="sort-sel" v-model="selSortBy">
                    <option v-for="sort in sorts">{{sort}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="sort-ord">Sort order</label>
                <select class="form-control" id="sort-ord" v-model="selSortOrd">
                    <option v-for="selSortOrd in sort_ords">{{selSortOrd}}</option>
                </select>
            </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                <div v-for="lesson in sortedLessons">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="d-flex justify-content-center">
                                <span style="font-size: 10vw;" v-bind:class="lesson.icon"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{lesson.subject}}</h5>
                                <div class="card-text">
                                    Price:{{lesson.price}} <br>
                                    Location: {{lesson.location}}<br>
                                    Space: {{lesson.space}}<br>
                                </div>
                                <br>
                                <button @click="addToCart(lesson)" class="btn btn-primary" v-if="canAddToCart(lesson)">
                                    Add item
                                </button>
                                <button class="btn btn-secondary" disabled v-else>Sold Out!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- display cart only  > 0 -->
            <div v-if="this.cart.length > 0">
                <h3>Checkout</h3>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                    <div v-for="lesson in lessons" v-if="5 - lesson.space > 0">
                        <div class="col mb-4">
                            <div class="card">
                                <div class="d-flex justify-content-center">
                                    <span style="font-size: 10vw;" v-bind:class="lesson.icon"></span>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{lesson.subject}}</h5>
                                    <div class="card-text">
                                        Price:{{lesson.price}} <br>
                                        Location: {{lesson.location}}<br>
                                        Quantity: {{5 - lesson.space}}<br>
                                    </div>
                                    <br>
                                    <button @click="removeFromCart(lesson)" class="btn btn-danger">Remove item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" v-on:click="showCheckout">Checkout</button>
            </div>
        </div>
    </div>

    <!-- checkout page -->
    <div v-else>
        <h2>Checkout</h2>
        <button class="btn btn-success" v-on:click="showCheckout">Back to Lessons</button>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            <div v-for="lesson in lessons" v-if="5 - lesson.space > 0">
                <div class="col mb-4">
                    <div class="card">
                        <div class="d-flex justify-content-center">
                            <span style="font-size: 10vw;" v-bind:class="lesson.icon"></span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{lesson.subject}}</h5>
                            <div class="card-text">
                                Price:{{lesson.price}} <br>
                                Location: {{lesson.location}}<br>
                                Quantity: {{5 - lesson.space}}<br>
                            </div>
                            <br>
                            <button @click="removeFromCart(lesson)" class="btn btn-danger">Remove item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form>
            <div class="form-group">
                <input class="form-control" placeholder="Enter name" v-model="cust_name"
                       v-on:keypress="checkChar($event, 'string')">
                <input class="form-control" placeholder="Enter phone" v-model="cust_num"
                       v-on:keypress="checkChar($event, 'num')">
            </div>
            <button class="btn btn-primary" onclick="alert('order placed')"
                    v-if="!(cust_name === '' || cust_num === '')">Checkout Order
            </button>
        </form>

    </div>
</div>

<!-- vue -->
<script>
    new Vue({
        el: '#app',
        data: {
            lessons: lessons,
            sorts: ['Price', 'Subject', 'Space', 'Location'],
            sort_ords: ['Ascending', 'Descending'],
            selSortBy: 'Price',
            selSortOrd: 'Ascending',
            cart: [],
            showLessons: true,
            cust_name: '',
            cust_num: '',
        },
        methods: {
            canAddToCart(lesson) {
                return 5 > (5 - lesson.space);
            },
            addToCart(lesson) {
                this.cart.push(lesson.id);
                lesson.space--;
            },
            removeFromCart(lesson) {
                const index = this.cart.indexOf(lesson.id);
                if (index > -1) {
                    this.cart.splice(index, 1);
                }
                lesson.space++;
            },
            showCheckout() {
                this.showLessons = !this.showLessons;
            },
            checkChar(e, type) {
                let char = String.fromCharCode(e.keyCode);
                if (type === "string") {
                    if (/^[A-Za-z]+$/.test(char)) return true;
                    else e.preventDefault();
                } else if (type === "num") {
                    if (/^[0-9]+$/.test(char)) return true;
                    else e.preventDefault();
                }
            }
        },
        computed: {
            sortedLessons: function () {
                let lessonsArray = this.lessons.slice(0)
                let field = this.selSortBy.toLowerCase();

                function sorter(a, b) {
                    if (a[field] > b[field]) return 1;
                    if (a[field] < b[field]) return -1;
                }

                lessonsArray.sort(sorter)

                if (this.selSortOrd === 'Descending')
                    lessonsArray.sort().reverse()

                return lessonsArray;
            }
        }
    });
</script>

<!-- cdn -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>